<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <div id="data" class="card-content">
        <p>Loading data...</p>
      </div>
    </div>
  </body>
  <script src="../public/card.js"></script>
  <script>
    render();
  </script>
</html>
