<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/index.css" />
    <title>Social Media Database</title>
  </head>
  <body>
    <div class="card">
      <div class="card-content">
        <h1>Create your profile card!</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <p>Fill out the form below to create your new profile card!</p>
        <form action="/create" method="POST">
          <p>
            <label for="username"
              >Username:
              <input
                name="username"
                type="text"
                pattern="[A-Za-z0-9]{4, 20}"
                title="Username must contain only letters and numbers, and be between 4 and 20 characters long."
                required
            /></label>
          </p>
          <p>
            <label for="password"
              >Password:
              <input
                name="password"
                type="password"
                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                title="Minimum eight characters, at least one letter, one number and one special character"
                required
            /></label>
          </p>
          <p>
            <label for="bio"
              >Bio: <textarea name="bio" cols="30" rows="5" required></textarea>
            </label>
          </p>
          <p>
            <label for="facebook"
              >Facebook URL: <input name="facebook" type="url"
            /></label>
          </p>
          <p>
            <label for="twitter"
              >Twitter URL: <input name="twitter" type="url"
            /></label>
          </p>
          <p>
            <label for="linkedin"
              >LinkedIn URL: <input name="linkedin" type="url"
            /></label>
          </p>
          <p>
            <label for="github"
              >GitHub URL: <input name="github" type="url"
            /></label>
          </p>
          <p>
            <label for="tumblr"
              >tumblr URL: <input name="tumblr" type="url"
            /></label>
          </p>
          <p>
            <label for="portfolio"
              >Portfolio URL: <input name="portfolio" type="url"
            /></label>
          </p>
          <button type="submit">Create!</button>
        </form>
      </div>
    </div>
  </body>
  <footer>
    <a
      href="https://www.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >&copy; Nicholas Carrigan</a
    >
  </footer>
</html>
