<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/index.css" />
    <title>Social Media Database</title>
  </head>
  <body>
    <div class="card">
      <div class="card-content">
        <h1>Social Media Database</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <p>
          Welcome to my social media database! This application allows you to
          make a profile to contain your various social media links. You will be
          able to update the links as they change and share your profile card
          with your friends. Think of it like a virtual business card!
        </p>
        <p><a href="/create">Create a new card!</a></p>
        <p><a href="/update">Update your existing card</a></p>
        <p><a href="/search">Look for a current user</a></p>
      </div>
    </div>
  </body>
  <footer>
    <a
      href="https://www.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >&copy; Nicholas Carrigan</a
    >
  </footer>
</html>
